[submodule "vendor/vrpn"]
	path = vendor/vrpn
	url = https://github.com/vrpn/vrpn.git
[submodule "vendor/jenkins-ctest-plugin"]
	path = vendor/jenkins-ctest-plugin
	url = https://github.com/rpavlik/jenkins-ctest-plugin.git
[submodule "json-schemas"]
	path = json-schemas
	url = git@github.com:OSVR/OSVR-JSON-Schemas.git
