[submodule "vendor/vrpn"]
	path = vendor/vrpn
	url = https://github.com/vrpn/vrpn.git
[submodule "vendor/jenkins-ctest-plugin"]
	path = vendor/jenkins-ctest-plugin
	url = https://github.com/rpavlik/jenkins-ctest-plugin.git
[submodule "vendor/tinympl"]
	path = vendor/tinympl
	url = https://github.com/OSVR/tinympl.git
