[submodule "vendor/vrpn"]
	path = vendor/vrpn
	url = https://github.com/vrpn/vrpn.git
	branch = master
[submodule "vendor/jenkins-ctest-plugin"]
	path = vendor/jenkins-ctest-plugin
	url = https://github.com/rpavlik/jenkins-ctest-plugin.git
	branch = master
[submodule "json-schemas"]
	path = json-schemas
	url = https://github.com/OSVR/OSVR-JSON-Schemas.git
	branch = master
[submodule "vendor/discount-windows-bins"]
	path = vendor/discount-windows-bins
	url = https://github.com/OSVR/discount.git
	branch = master
[submodule "vendor/UIforETWbins"]
	path = vendor/UIforETWbins
	url = https://github.com/OSVR/UIforETWbins.git
	branch = master
