# SPDX-FileCopyrightText: 2023-2026, Rylie Pavlik
# SPDX-License-Identifier: CC0-1.0

Chelsea Jaggi <feilen1000@gmail.com>

Christoph Haag <haagch+git@frickel.club>
Christoph Haag <haagch+git@frickel.club> <haagch@frickel.club>

Georgiy Frolov <gfrolov@sensics.com>
Georgiy Frolov <gfrolov@sensics.com> <mars979@gmail.com>
Georgiy Frolov <gfrolov@sensics.com> <mars979@users.noreply.github.com>

Greg Aring <greg@sensics.com>
Greg Aring <greg@sensics.com> <DuFF14@users.noreply.github.com>
Greg Aring <greg@sensics.com> <greg.aring@gmail.com>

JeroMiya <bell.jeremy@gmail.com>

Kevin M. Godby <kevin@godby.org>
Kevin M. Godby <kevin@godby.org> <godbyk@gmail.com>

Russ Taylor <russ@reliasolve.com>
Russ Taylor <russ@reliasolve.com> <github@gracehollow.com>
Russ Taylor <russ@reliasolve.com> <taylorr@cs.unc.edu>

Rylie Pavlik <rylie.pavlik@collabora.com>
Rylie Pavlik <rylie.pavlik@collabora.com> <ryan.pavlik@collabora.com>
Rylie Pavlik <rylie@ryliepavlik.com>
Rylie Pavlik <rylie@ryliepavlik.com> <ryan.pavlik@gmail.com>
Rylie Pavlik <rylie@ryliepavlik.com> <ryan@sensics.com>

Yuval Boger <yboger@sensics.com>
Yuval Boger <yboger@sensics.com> <VRguy@users.noreply.github.com>
Yuval Boger <yboger@sensics.com> <yboger@users.noreply.github.com>
